.App {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-container {
  height: 23vh;
  width: 12vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card-container img {
  height: 10vh;
  width: 100%;
}

.card-content-container {
  border-radius: 20px;
  height: 20vh;
  width: 10vw;
  background: white;
}
